[Unit]
Description=TLP Mode Tray
After=graphical-session.target

[Service]
Type=simple
ExecStart=tlp-tray
Restart=on-failure
RestartSec=2

[Install]
WantedBy=default.target
