[Desktop Entry]
Type=Application
Name=TLP Mode Tray
Exec=tlp-tray
Icon=power-profile-performance-symbolic
Terminal=false
X-GNOME-Autostart-enabled=true
NoDisplay=false
