Source: tlp-mode-daemon
Section: utils
Priority: optional
Maintainer: Egretos <egretos@proton.me>
Build-Depends: debhelper-compat (= 13)
Standards-Version: 4.6.2
Rules-Requires-Root: no
Homepage: https://github.com/egretos/tlp-mode-daemon

Package: tlp-mode-daemon
Architecture: all
Depends: ${misc:Depends}, tlp, python3, pkexec | policykit-1 | sudo, systemd
Recommends: python3-pyside6
Description: TLP profile switcher with tray UI
 Lightweight TLP profile switcher with a CLI and optional tray UI.
