#!/usr/bin/make -f

%:
	dh $@

override_dh_auto_install:
	install -D -m 0755 bin/tlp-mode debian/tlp-mode-daemon/usr/bin/tlp-mode
	install -D -m 0755 bin/tlp-tray debian/tlp-mode-daemon/usr/bin/tlp-tray
	install -D -m 0755 bin/create-tlp-icons debian/tlp-mode-daemon/usr/bin/create-tlp-icons
	install -D -m 0755 root/tlp-mode-root debian/tlp-mode-daemon/usr/sbin/tlp-mode-root
	install -D -m 0644 systemd/tlp-tray.service debian/tlp-mode-daemon/usr/lib/systemd/user/tlp-tray.service
	install -D -m 0644 desktop/tlp-tray.desktop debian/tlp-mode-daemon/usr/share/applications/tlp-tray.desktop
	install -D -m 0644 README.md debian/tlp-mode-daemon/usr/share/doc/tlp-mode-daemon/README.md
	install -D -m 0644 docs/CONFIG.md debian/tlp-mode-daemon/usr/share/doc/tlp-mode-daemon/CONFIG.md
	install -D -m 0644 docs/INSTALL.md debian/tlp-mode-daemon/usr/share/doc/tlp-mode-daemon/INSTALL.md
	install -D -m 0644 docs/UNINSTALL.md debian/tlp-mode-daemon/usr/share/doc/tlp-mode-daemon/UNINSTALL.md
	install -D -m 0644 docs/TROUBLESHOOTING.md debian/tlp-mode-daemon/usr/share/doc/tlp-mode-daemon/TROUBLESHOOTING.md
